@font-face {
    font-family: Orbitron;
    src: url(../Fonts/Orbitron-VariableFont_wght.ttf);
}

@font-face {
    font-family: Solignant;
    src: url(../Fonts/Soligant-d98nK.otf);
}

@font-face {
    font-family: Supermarket ;
    src: url(../Fonts/Supermarketed-wXZ3.ttf);
}

@font-face {
    font-family: Grotley;
    src: url(../Fonts/grotley.regular.otf);
}




$primaryblack: black;
$opacity: rgb(255,255,255,0.2);

$color-font:rgb(220, 220, 220);
$teal-light:#05B790;
$teal-neutral:#00757B;
$teal-neutral-lighter:#01858b;
$teal-dark:#1F3439;


$gradient-dark:linear-gradient(45deg,$teal-dark,$teal-neutral);
$gradient-light:linear-gradient(45deg,$teal-light,$teal-neutral);

$nav-height:150px;


$major-font:Orbitron;
$minor-font:Grotley;

:root{
    scroll-behavior: smooth;
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    color:$color-font;
}

//Utils Class

.head-center{
    text-align: center;
}
.grad-heading{
    background-image: $gradient-light;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: all 2s;

    &.grad-dark{
        background-image: $gradient-dark;
    }

    &:hover{
        background-position: 100px 100px;
    }
}
//Util Tags
h1{
    font-family: $major-font;
    font-size: 2.7em;
}

h2{
    font-family: $major-font;
}

        
p{
    font-family: $minor-font;
    font-size: 1.5em;
}

body{
    position: relative;
    z-index: -11;
}



// navbar

.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .menu{
        display: none;
        flex: 1 1 0%;
        justify-content: flex-end;
        margin: 0 -16px;
        a{
            color:white;
            margin: 0 16px;
            font-weight: 550;
            font-size: 21px;
            text-decoration: none;
            font-family: 'Montserrat', sans-serif;
            &.is-active{
                color: $teal-light;
            }

        }
        
    }
    .hamburger{
        display: block;
        position: relative;
        z-index: 3;
        margin-right: 10px;
        user-select: none;
        appearance: none;
        border: none;
        outline:none;
        background: none;
        cursor: pointer;
        &.is-active span:nth-child(1){
            transform: translate(0px,-2px) rotate(45deg);
        }
        &.is-active span:nth-child(2){
            transform: translateX(10px);
            opacity:0;
        }
        &.is-active span:nth-child(3){
            transform: translate(-3px,3px) rotate(-45deg);
        }
        span{
            display: block;
            width:33px;
            height: 4px;
            margin-bottom: 5px;
            border-radius: 6px;
            position: relative;
            background-color: $primaryblack;
            
            transform-origin: 0 0;

            transition: 0.4s;
        }
        &:hover span:nth-child(2){
            transform: translateX(10px);
            background-color: aqua;
        }
        
    }
}

.navbar{
    position: fixed;
    top: 15px;
    width: 90vw;
    overflow: hidden;
    z-index: 1;
    background-color:rgb(0,0,0,0) ;
    &.is-active{
        background-color: $opacity;
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 100px;
        margin-left: 30px;
        margin-right: 25px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
    &.isnt{
        background-color: rgb(0,0,0,0);
    }
}

.menu-mobile{
    position: fixed;
    top:0px;
    left:0px;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: #00757B;
    color: white;
    padding-top: 6rem;
    // opacity: 0;
    transform: translateY(-100%);
    transition: 0.3s;
    &.is-open{
        opacity:1;
        transform: translateY(0);
    }
    a{
        display: block;
        padding: 1rem;
        text-decoration: none;
        text-align: center;
        font-weight: 600;
        font-size: 20px;
        &:hover{
            color: $teal-light;
            background-color: $teal-dark;
        }

    }
}


*::-webkit-scrollbar{
    display: none;
}


//navbar end

.hero{
    z-index: -10;
    background-image: url(../images/Hero_bg.jpg);
    min-height: 100vh;
    background-size: cover;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    
    position: sticky;
    top: 0px;

    color: white;

    .hero-content{
        flex:1 1 400px;
        max-width: 700px;
        text-align: center;
        h1{
            mix-blend-mode: color-dodge;
            -webkit-text-stroke: 1px white;
            font-size: 2.8rem;
        }
        
    }
    

    .earth-model{
        position: fixed;
        margin-left: 1rem;
        z-index: -1;
        width: 31.25rem;
        height: 31.25rem;
        canvas{
            width: 31.25rem !important;
            height: 31.25rem !important;
        }

        
    }


}



.Frame-1{
    background-color: $teal-neutral;
    z-index: -9;
    position: sticky;
    top: calc(125vh - var(--height));

    padding: $nav-height 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap:4rem;
    //justify-content: center;
    p{
        text-align: justify;
    }

    .About-Us{
        display: flex;
        align-items: center;
        flex-direction: column;
        

        padding: 2rem;

        transition: all 0.5s ease-out;

        &:hover{
            border-radius: 10px;
            box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.1);
            transform: scale(1.01);
        }

        
       
    }
    .About-Us-2{
        display: flex;
        flex-wrap: wrap;
        gap:2rem;

        .Vision,.Mission{
            display: flex;
            align-items: center;
            flex-direction: column;
            flex: 1 1 250px;

            padding: 2rem;
            transition: all 0.5s ease-out;
        }
        

        &>:hover{
            border-radius: 10px;
            box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.05);
            transform: scale(1.01);
        }
       
    }

    .Card-Container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;

        gap: 3rem;

        padding-top: 5rem;

        

        .card{
            *{
                z-index: 2;
                justify-content: end;
            }

            display: grid;
            grid-template-rows: 1fr 4fr;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
            "Name Photo"
            "Text Text"
            ;
            
            height: 37.5rem;
            width: 25rem;
            background-image:$gradient-light;
            overflow:hidden;

            border-radius: 20px;

            position: relative;

            box-shadow: 0px 0px 7px rgb(0, 0, 0, 0.5);
            
            &::before{
                content:'';
                background-image:url('../Vector/abstract-stripe-background.jpg');
                background-size: 900px;
                
                width: 100%;
                height: 100%;
                position: absolute;
                
                opacity: 0.2;
                mix-blend-mode: darken;
                z-index: 1;

                transition: all 1s;
            }

            &:hover{
                &::before{
                    
                    //background-position: -10px -10px;
                    background-size: 950px;
                }

                img{
                   object-fit: cover; 
                }
            }

            h2{
                grid-area: Name;
                text-align: center;
                align-self: center;
                justify-self: center;
                display: inline;
                
            }
            img{
                grid-area: Photo;
                width: 12.5rem;
                justify-self: end;
                border-radius: 0px 20px;
                
            }
            p{
                grid-area: Text;
                padding: 2rem;
            }

        }
    }
    .WhatWeDo-container{
        
        h1{
            text-align: center;
        }
        display: grid;
        max-width: 1000px;
        width: 100%;
        gap: 4rem;
        .grid-container{
            display: grid;
            
            grid-template-columns: repeat(auto-fill,minmax(min(300px),1fr));
            gap: 1rem;
            .glassbox{
                // width: 300px;
                height: 270px;
                background-color: rgba( 255, 255, 255, 0.02 );
                border-radius: 5px;
                position: relative;

                padding: 1.5rem;

                &::after{
                    content: '';
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top:0;
                    left: 0;
                    
                    background-image: radial-gradient(
                        800px circle at var(--mouse-x) var(--mouse-y),
                        rgba(255, 255, 255, 0.15),
                        transparent 40%
                    );
                    border: solid 1px rgba(255, 255, 255, 0.1);
                    border-radius: inherit;

                    transition: opacity 1s;
                    opacity: 0;
                    z-index: 2;

                    
                }

                &:hover{
                    &::after{
                        opacity: 1; 
                    }
                }

                svg{
                    width: 100px;
                    height: 100px;
                    float: right;
                    path{
                        fill:url(#gradient);
                    }
                    
                    
                    stop{
                        &:nth-child(1){
                            stop-color: $teal-neutral;
                        }
                        &:nth-child(2){
                            stop-color: $teal-light;
                        }
                    }
                }

                h2{
                    padding: 2rem 0;
                }
                p{
                    font-size: 1.25rem;
                }
            }
        }
    }
    

}




//gallery

@keyframes pan-image {  
    0% {
      background-position: 36% 42%;
      background-size: 100%;
    }
    
    20% {
      background-position: 30% 35%;
      background-size: 100%;
    }
    
    20.0001% { /* -- View 2 -- */
      background-position: 60% 85%;
      background-size: 300%;
    }
    
    40% {
      background-position: 49% 81%;
      background-size: 300%;
    }
    
    40.0001% { /* -- View 3 -- */
      background-position: 80% 42%;
      background-size: 200%;
    }
    
    60% {
      background-position: 84% 33%;
      background-size: 200%;
    }
    
    60.0001% { /* -- View 4 -- */
      background-position: 0% 0%;
      background-size: 200%;
    }
    
    80% {
      background-position: 15% 4%;
      background-size: 200%;
    }
    
    80.0001% { /* -- View 5 -- */
      background-position: 80% 10%;
      background-size: 200%;
    }
    
    100% {
      background-position: 72% 14%;
      background-size: 200%;
    }
  }
@keyframes pan-overlay {
    from {
      background-position: 0% 0%;
    }
    
    to {
      background-position: 0% -100%;
    }
  }

.Frame-2{
    z-index: -8;
    background-color:$teal-neutral-lighter;
}
$galeryprime: rgb(5,183,144,0.29) ;
#gallery{

    text-align: center;
    video{
        min-width: max-content;
    }


    h1{
        text-align: center;

    }
    .gallery-container{
        width:90vw;
        padding: 2rem;
        display: flex;
        padding: 1rem;
        flex-wrap: wrap;
        justify-content: center;
        .sp1{
            
            display: flex;
            border-radius: 1rem;
            border: 3px solid rgb(5,183,144,0.8);
            background-color: rgb(29,30,29,0.0);
            position: relative;
            overflow: hidden;
            margin: 1rem;
            transition: transform 0.3s;
            &.one{
                width: 15rem;
                aspect-ratio: 10/16;
            }
            &.three{
                width:20rem;
                aspect-ratio: 10/16;
            }
            &.two{
                width: 30rem;
                aspect-ratio: 16/10;
            
            }
            &.four{
                width: 34rem;
                aspect-ratio: 16/10;

            }
            &:hover{

                transform: scale(110%) ;
            }
            &:hover .sp1-image{
                z-index: 190;
                animation: none;
                background-size: cover;
                
            }
            &:hover video{
                z-index: 190;
                width: max-content;
            
        
            }
        }
        
        
    }
}
.sp1-overlay{
    background: linear-gradient(
    $galeryprime,
    $galeryprime 2px,
    transparent 3px,
    transparent 4px
  );
  background-size: 100% 4px;
  height: 100%;
  width:100%;
  animation: pan-overlay 22s infinite linear;
  position: absolute;
  top: 0px;
  z-index: 125;
  
  

}
.sp1-image{
 
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  left: 0px;
  top: 0px;
  background-size: 300%;
  background-position: 0% 0%;
//   filter: sepia(80%) hue-rotate(155deg);
  opacity: 1;
  animation: pan-image 15s linear infinite;
  &.one{
    background-image: url("../images/gallery3.jpg");
  }
  &.two{
    background-image: url('../images/gallery2.JPG');
  }
  &.three{
    background-image: url('../images/gallery6.jpg');  }
  &.four{
    background-image: url('../images/gallery1.jpg');
  }
  &.five{
    background-image: url('../images/gallery4.jpg');
  }
  &.six{
    background-image: url('../images/gallery5.JPG');
  }
  &.free{
    z-index: 200;
    animation: none;
    background-size: cover;
  }
  
  
}
//gallery end

.carousel-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    .button-container{
        display: flex;
        justify-content: space-evenly;
        gap: 1rem;
        
        cursor: pointer;
        img{
            width: 30px;
            border-radius: 50%;

            &:active{
                background-color: $opacity;
            }

            &:nth-of-type(2){
                transform: rotateZ(-180deg);
                &:hover{
                    transform: scale(1.1) rotateZ(-180deg);
                }
            }

            &:hover{
                transform: scale(1.1)
            }
        }
    }
}
//gallery end
.carousel-container{
    max-width: 1000px;
    position: relative;
    width: 43.75rem;
    height: 18.75rem;

    .carousel-item{
        width: 43.75rem;
        height: 18.75rem;
        overflow: hidden;
        position: absolute;
        border-radius: 20px;
        
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 2fr 2fr 1fr 1fr;

        *{
            z-index: 2;
            justify-content: end;
        }

        
        background-image: $gradient-light;
        &::before{
            content:'';
            background-image:url('../Vector/abstract-stripe-background.jpg');
            background-size: 900px;
            background-position: center;

            width: 100%;
            height: 100%;
            position: absolute;
            
            opacity: 0.1;
            mix-blend-mode: darken;
            z-index: 1;
            overflow: hidden;

            transition: all 1s;
        }
        &:hover{
            &::before{
                //background-position: -10px -10px;
                background-size: 950px;
            }
            
        }
        img{
            grid-row: span 4;
            grid-column: span 1;
            height: 100%;
            width: 100%;
            object-fit: cover;

            
        }

        h2{
            grid-row: span 2;
            font-size: 3rem;
            padding-left: 2.5rem;
            padding-top: 2.5rem;
            
        }
        h3{
            font-family: $minor-font;
            color: white;
            font-size: 1.75rem;
            padding-left: 2.5rem;
        }
        

        transition: all 0.5s;
        
        &.i1{
            left:-40%;
            opacity: 0.25;
            z-index: -3;
            transform: scale(0.65);
        }
        &.i2{
            left:-25%;
            opacity: 0.5;
            z-index: -2;
            transform: scale(0.8);
        }
        &.i3{
            left:0%;
            z-index: 1;
        }
        &.i4{
            left:25%;
            opacity: 0.5;
            z-index: -2;
            transform: scale(0.8);
        }
        &.i5{
            left:40%;
            opacity: 0.25;
            z-index: -3;
            transform: scale(0.65);
        }
    }
}
//footer start
.footer{
    position: relative;
    display: block;
    width: 100vw;
    overflow: hidden;
    height: 100%;
    background-color: $teal-neutral;

    padding-top: 10rem;
    .created{
        display: flex;
        justify-content: center;
        margin: 1rem;
        margin-top: 2rem;
        p{
            display: inline;
            font-size: medium;
            font-weight: 200;
            font-family:sans-serif;
        }
        a{
            display: inline;
            font-size: medium;
            font-weight: 200;
            font-family:sans-serif;
            color: $teal-dark;
        }
    }
    .footer-content{
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        font-size: 1.5rem;
        p{
            font-size: 1.5rem;
            font-family: $major-font;
            text-align: center;
        }
        
        .left{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            margin-left: 2rem;
            img{
                width: 15.625rem;
            }
            p{
                text-align: left;
            }
            
        }
        
        .right{
            display: flex;
            min-width: 24rem;
            align-items:center;

            .idk{
                width: 50%;
                margin: 1rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                
            }
            p{
                text-align: left;
            }
            a{
                font-size: inherit;
                font-family: $major-font;
                text-decoration: none;
                
            }
            .footer-link{
                display: flex;
                align-items:center;
                margin-top: 10px;
                gap: 0.5rem;
                font-size: 1rem;

                img{
                    width: 25px;
                }
            }
        }
    }
    .curve{
        position: absolute;
        top: 0;
        left: 0;
        min-width: 1500px;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);

        svg {
            position: relative;
            display: block;
            width: calc(100% + 1.3px);
            height: 158px;
        }
        .shape-fill {
            fill:$teal-neutral-lighter ;
        }
        
    }
}

//footer end

@media (max-width:600px) {
    :root{
        font-size:12px;
    }
    
    .i1,.i2,.i4,.i5{
         display: none !important; 
    }

    .carousel-section{
        transform: scale(0.65);
    }
    
}
@media (max-width:900px){
    .footer-content{
        flex-direction: column;
        justify-items: center;
        justify-content: space-between;
        .left{
            align-items: center;
            p{
                text-align: center;
            }
        }
        .right{
            flex-direction: column;
            .idk{
                width:100%;
            }
        }
    }

}
@media (min-width: 600px ) {
    .container .menu{
        display:flex;
        opacity:1;
    } 

    .container .hamburger{
        display:none;
    
    }
    .menu-mobile{
        display:none;
    }
    
}



