@font-face {
    font-family: Orbitron;
    src: url(../Fonts/Orbitron-VariableFont_wght.ttf);
}

@font-face {
    font-family: Solignant ;
    src: url(../Fonts/Soligant-d98nK.otf);
}

@font-face {
    font-family: Supermarket ;
    src: url(../Fonts/Supermarketed-wXZ3.ttf);
}


$primaryblack: black;
$opacity: rgba(255, 255, 255, 0.5);

$color-font:rgb(220, 220, 220);
$teal-light:#05B790;
$teal-neutral:#00757B;
$teal-dark:#1F3439;


$gradient-dark:linear-gradient(45deg,$teal-dark,$teal-neutral);
$gradient-light:linear-gradient(45deg,$teal-light,$teal-neutral);

$nav-height:150px;


$major-font:Orbitron;
$minor-font:Solignant;
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    color:$color-font;
}

//Utils Class
.grad-heading{
    background-image: $gradient-light;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: all 2s;

    &:hover{
        background-position: 100px 100px;
    }
}
//Util Tags
h1{
    font-family: $major-font;
    font-size: 2.7em;
}

        
p{
    font-family: $minor-font;
    font-size: 1.5em;
}

body{
    position: relative;
    z-index: -11;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .menu{
        display: none;
    }
    .hamburger{
        display: block;
        position: relative;
        z-index: 1;
        user-select: none;
        appearance: none;
        border: none;
        outline:none;
        background: none;
        cursor: pointer;
        &.is-active span:nth-child(1){
            transform: translate(0px,-2px) rotate(45deg);
        }
        &.is-active span:nth-child(3){
            transform: translate(-3px,3px) rotate(-45deg);
        }
        span{
            display: block;
            width:33px;
            height: 4px;
            margin-bottom: 5px;
            border-radius: 6px;
            position: relative;
            background-color: $primaryblack;
            
            transform-origin: 0 0;

            transition: 0.4s;
        }
        &:hover span:nth-child(2){
            transform: translateX(10px);
            background-color: aqua;
            opacity: 0;
        }
        
    }
}

nav{
    position: fixed;
    top:0;
    left:0;
    right: 0;
    z-index: 110;
    background-color:$opacity ;
}

.hero{
    z-index: -10;
    background-image: url(../images/Hero_bg.jpg);
    min-height: 100vh;
    background-size: cover;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    
    position: sticky;
    top: 0px;

    color: white;

    .hero-content{
        flex:1 1 400px;
        max-width: 700px;
        
    }
    

    .earth-model{
        width: 500px;
        height: 500px;

        
    }


}



.Frame-1{
    background-color: $teal-neutral;
    height: 200vh;
    z-index: -9;
    position: sticky;
    top: 0px;

    padding: $nav-height 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap:4rem;
    //justify-content: center;
    p{
        text-align: justify;
    }

    .About-Us{
        display: flex;
        align-items: center;
        flex-direction: column;
        

        padding: 2rem;

        transition: all 0.5s ease-out;

        &:hover{
            border-radius: 10px;
            box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.1);
            transform: scale(1.01);
        }
       
    }
    .About-Us-2{
        display: flex;
        flex-wrap: wrap;
        gap:2rem;

        .Vision,.Mission{
            display: flex;
            align-items: center;
            flex-direction: column;
            flex: 1 1 250px;

            padding: 2rem;
            transition: all 0.5s ease-out;
        }
        

        &>:hover{
            border-radius: 10px;
            box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.05);
            transform: scale(1.01);
        }
       
    }

}

@media (max-width:600px) {
    :root{
        font-size:12px;
    }
}





